# Week 2: Foundations (Part 1)
## Practical 2: Foundations (Part 1)

In [1]:
#Python求平均数
numbers = [1, 4, 7, 6, 4, 2]
total   = 0
count   = 0
for num in numbers:
  total = total + num 
  count = count + 1
mean = total / count
print(mean)

4.0

In [165]:
x = 10
y = 3

print( x % y ) # 1 求余数
print( x + y ) # 13 加法
print( x < y ) # False 对比大小输出布尔值
print( x ** y ) # 1000 幂运算
print( x - y ) # 7 减法
print( x // y ) # 3 求整除

1
13
False
1000
7
3

· markdown语法写方程
$$
V = \frac{4}{3}\pi r^{3}
$$

In [171]:
#假设球体积14137,求半径
from math import pi as p
r = ((3/4)*(14137/p))**(1/3)
print(round(r))#半径取整

15

In [1]:
hours=int(input())#手动输入数值 ,整数型

if hours >= 10:
    print("At least 10 hours worked!")
elif hours == 2:
    print("Exactly 2 hours worked.")
else:
    print("Less than 10 hours worked!")

 7

Less than 10 hours worked!

In [3]:
#嵌套判断
x = 5
y = 4
if x != y:                             
    print("x is not equal to y")    
    if(x > y):                        
        print("x is greater than y")    
    else:                               
        print("x is less than y")
else:
    print("<insert conclusion here>")

<insert conclusion here>

In [ ]:
a = 6
b = 6
if a == 2 and b == 2 or a==b:#双等号判断两个数值是否相等,用and连接,只要有一个中招,就运行,否则else
    print("inside 1")
    print("inside 2")
    print("inside")
    print("after condition")
else:
    print("after condition")
# <your code here>

In [4]:
#三if线型判断
x=0
if x > 0 and x < 5:
    print("Joe")
if x > 0 or x < 5:
    print("Aled")
if not(x > 0):
    print("Sarah")

Aled
Sarah

# 数据类型type
1. Name	Value	Type
2. 2msg	‘Hello world’	type(msg)==str #文本型
3. answer	42	type(answer)==int #整数型
4. pi	3.14159	type(pi)==float #浮点型
5. c	complex(5,2)	type(c)==complex #复数类型
6. correct	True	type(correct)==bool #布尔型

In [7]:
#数据类型type
msg = '42' #文本型str
type(msg) #输出类型-文本型
msg = int(msg) #文本型转为整数型
type(msg) #输出类型-整数型
msg = str(msg) #整数型转为文本型
type(msg) #输出类型-文本型
print(str(int('42')))#把str转为int再转为str

42

In [5]:
#查看数据属于什么类型
isinstance() 与 type() 区别：
type() 不会认为子类是一种父类类型，不考虑继承关系。
isinstance() 会认为子类是一种父类类型，考虑继承关系。
如果要判断两个类型是否相同推荐使用 isinstance()
语法:isinstance(object, classinfo)
object – 实例对象
classinfo – 可以是直接或间接类名、基本类型或者由它们组成的元组
如果对象的类型与参数二的类型（classinfo）相同则返回 True，否则返回 False

isinstance(msg,object) 
isinstance(answer,object)  # True
isinstance(pi,object)      # True
isinstance(c,object)       # True
isinstance(correct,object)# True

SyntaxError: invalid character '：' (U+FF1A) (1980987869.py, line 2)

In [14]:
x= "hello" 
y = "you"
print(x==y)#判断x是否等于y

False

In [23]:
#format格式填入法 , 定义format(x,y),在文本句中{0}指代下标
x = 24
y = 'Something'
print("The value of {0} is {1}".format(y, x))#格式填入法1
print(f"The value of {y} is {x}")#格式填入法2

The value of Something is 24
The value of Something is 24

In [6]:
x, y = 10, 5
x + y * 2         # == 20
(x + y) * 2       # == 30
x + y * 2 / 3     # == 13.3333333333334
x + y * (2/3)     # == 13.3333333333332
(x + y) * (2/3) 
(x * y) ** 2/3    # == 833.333333333334
(x * y) ** (2/3)  # == 13.5720880829745
#两个星号在Python中表示的是幂计算

13.572088082974531

In [7]:
x = 5
y = 10
x = y
x == y

True

In [40]:
#判断是否相等
x, y = '42', 42
x==y   # False
x == str(y)   # False
x > str(y)   # False
int(x) <= y  # True
x > = str(y) # Also True

False

In [54]:
#使用if elif else判断大小
x, y = 42, 66
if x < y:
  print("x小于y")
elif x > y:
  print("x大于y")
else:
  print("x等于y")

x小于y

In [58]:
if 3 >= 0:
    print("Hours were worked.")
else:
    print ("No hours were worked.")

Hours were worked.

In [59]:
#定义列表
myList = [1, 3, 5, 7]     # homogenous list同质化名单, 单一数据类型
myList = [1, "dog", 7.01] # heterogenous list 不同质名单,有int有str
myList = []               # empty list#空名单

In [61]:
#列表可以被当成元素再次插入列表,列表允许不同数据类型
x = 3
y = "Foo"
z = ["A", "list", 42]

a = [x, y, z] # Holds x, y, *and* list z和在一起输出
print(a)

[3, 'Foo', ['A', 'list', 42]]

In [4]:
#定义列表 ,通过[0]打印指定下标内容
geographers = ["Massey", "Harvey", "Rose"]
print(geographers[1]) # Harvey
print(geographers[2]) # Rose

print( geographers[-1] ) # Rose
print( geographers[-2] ) # Harvey

print( geographers[0:2] ) # ['Massey','Harvey']
print( geographers[1:] )  # ['Harvey', 'Rose']
print( geographers[-2:] ) # ['Harvey', 'Rose']

Harvey
Rose
Rose
Harvey
['Massey', 'Harvey']
['Harvey', 'Rose']
['Harvey', 'Rose']

In [67]:
#从列表中切片数据
geographers = ["Massey", "Harvey", "Rose"]
print( geographers[1:2] ) # ['Massey','Harvey']
print(cities.index('New York'))#输出下标

['Harvey']

In [71]:
#我们可以按字母数字顺序对列表进行排序：
geographers = ["Massey", "Harvey", "Rose"]
geographers.sort()
print(geographers) # ['Harvey', 'Massey', 'Rose']
#我们也可以反向排序：
geographers.sort(reverse=True)
print(geographers) # ['Rose', 'Massey', 'Harvey']

['Harvey', 'Massey', 'Rose']
['Rose', 'Massey', 'Harvey']

In [127]:
#列表中的内容是可变的
geographers = ["Massey", "Harvey", "Rose"]
geographers[2] = "Jefferson"#下标为2的数据改为Jefferson,不能以此方法新增数据
print(geographers)
print(geographers[0]) # ['Massey','Harvey','Jefferson']

['Massey', 'Harvey', 'Jefferson']
Massey

In [129]:
#列表插入数据使用insert
geographers = ["Massey", "Harvey", "Jefferson"]
geographers.insert(0,"von Humboldt")#在指定下标位置插入新数据,如果定义的下标大于列表很多, 也只是在现有列表最后一位插入
print(geographers) # ['von Humboldt', 'Massey', 'Harvey', 'Jefferson']
geographers.insert(3,"von Humboldt")
print(geographers) # ['von Humboldt', 'Massey', 'Harvey', 'von Humboldt', 'Jefferson']

['von Humboldt', 'Massey', 'Harvey', 'Jefferson']
['von Humboldt', 'Massey', 'Harvey', 'von Humboldt', 'Jefferson']

In [130]:
#从列表中移除某一值
geographers = ['von Humboldt', 'Massey', 'Harvey', 'Jefferson']
geographers.pop(2) # Do not use this answer!删除列表下标为2的数据,并将值弹出
print(geographers)

['von Humboldt', 'Massey', 'Jefferson']

In [10]:
#使用append给列表增加新值,默认在尾部增加
female_geographers = ['Rose','Valentine','Massey','Jefferson']
male_geographers   = ['Von Humboldt','Harvey','Hägerstrand']
all_geographers = []
all_geographers.append(female_geographers)#给空列表加入女性列表
all_geographers.append(male_geographers)#再加入男性列表
print(all_geographers) # [['Rose',...], [..., 'Hägerstrand']]#合并后的列表,女性男性列表各为一个元素
print(all_geographers[0])

[['Rose', 'Valentine', 'Massey', 'Jefferson'], ['Von Humboldt', 'Harvey', 'Hägerstrand']]
['Rose', 'Valentine', 'Massey', 'Jefferson']

In [11]:
male_geographers = ['Von Humboldt','Harvey','Hägerstrand']
male_geographers.append('Batty')#默认在尾部加入新值
print(male_geographers)
n=len(male_geographers)#取共有几个元素
print(n)

['Von Humboldt', 'Harvey', 'Hägerstrand', 'Batty']
4

In [21]:
#判断某一值是否在列表
geographers = ["Massey","Harvey","Rose"]
print("Massey" in geographers) # True#判断某一值是否在列表
print("Batty" in geographers)  # False判断某一值是否在列表
a=geographers.index("Rose") #查找索引的下标
print(a)

True
False
2

In [25]:
'''元组和列表非常类似，但列表与元组最大的区别在于：元组是不可改变的，列表是可改变的。元组支持的操作，列表基本上都支持；列表支持对元素的修改，而元组则不支持。从这个角度来看，可以认为列表是增强版的元组。

虽然大部分时候都可使用列表来代替元组，但如果程序不需要修改列表所包含的元素，那么使用元组代替列表会更安全。'''
t = (52.124021, -0.0012012)#圆括号定义的数据为元祖,不可变
print(type(t)) # <class 'tuple'>
print(t)       # (52.124021, -0.0012012)
print(t[0])    # 52.124021

<class 'tuple'>
(52.124021, -0.0012012)
52.124021

In [31]:
#input函数从用户获取输入
num = int(input("输入人民币数值 :"))
a = num*8
print("英镑为:"+str(a)+"镑")

输入人民币数值 : 30

英镑为:240镑

In [43]:
#while循环适用于未知循环次数的循环，for循环适用于已知循环次数的循环 。
geographers = ['Rose','Massey','Jefferson']
for g in geographers:
    print(g)
    
list1 = [1,2,"a"]
for i in list1:
  print(i)

Rose
Massey
Jefferson
1
2
a

In [132]:
#for循环九九乘法表
for i in range(1,10):
 for j in range(1,i+1):
   print(' %d*%d=%d'%(j,i,j*i),end="")
 print('\r')

 1*1=1
 1*2=2 2*2=4
 1*3=3 2*3=6 3*3=9
 1*4=4 2*4=8 3*4=12 4*4=16
 1*5=5 2*5=10 3*5=15 4*5=20 5*5=25
 1*6=6 2*6=12 3*6=18 4*6=24 5*6=30 6*6=36
 1*7=7 2*7=14 3*7=21 4*7=28 5*7=35 6*7=42 7*7=49
 1*8=8 2*8=16 3*8=24 4*8=32 5*8=40 6*8=48 7*8=56 8*8=64
 1*9=9 2*9=18 3*9=27 4*9=36 5*9=45 6*9=54 7*9=63 8*9=72 9*9=81

In [149]:
#while循环
geo =["zx","ls","ww"]
r = 0#循环计次0
while r < len(geo):#小于列表长度则一直循环,直到退出
    print(geo[r])
    r = r + 1

zx
ls
ww

In [150]:
#倒计时功能,使用range函数,在10区间内,从0开始,间隔为-1
import time
for i in range(10,0,-1):
    print("\r倒计时{}秒！".format(i),end="")
    time.sleep(1)
print("\r倒计时结束！")

倒计时结束！！

In [153]:
#使用break函数打断
geographers = ['Rose','Massey','Jefferson']
for g in geographers:
  print(g)#遍历每一个元素
  for h in g:
    print(h)#继续在该元素下遍历每一个字母
    break # <-- Notice this!#当遍历到第一个字母时候打断,结束二级循环,进入一级循环

Rose
R
Massey
M
Jefferson
J

In [154]:
for g in geographers:
  print(g)
  for h in g:
    print(h)
  break ##同上,但break的缩进在一级循环中, 所以遍历完第一个元素的所有字母后结束

Rose
R
o
s
e

In [104]:
#无限循环,不要运行
geographers = ['Rose','Massey','Jefferson']
g = 0
while g < len(geographers):
    print( geographers[g] )

IndentationError: expected an indented block after 'while' statement on line 3 (1782444427.py, line 4)

In [123]:
#列表反向排序,再依次输出
geographers = ['Rose','Massey','Jefferson']
geographers.reverse()#列表反向排序
for g in geographers:
  print(g)

geographers = ['Rose','Massey','Jefferson']
g = len(geographers)-1 #总厂为3 , 3减1为2,下标为2为jef
while g >= 0:
  print( geographers[g] )
  g -= 1

Jefferson
Massey
Rose
Jefferson
Massey
Rose

In [127]:
#遍历每一个字母
female_geographers = ['Rose','Valentine','Massey','Jefferson']
male_geographers = ['Von Humboldt','Harvey','Hägerstrand']
all_geographers = []
all_geographers.append(female_geographers)
all_geographers.append(male_geographers)
for ag in all_geographers:
  for g in ag:
    for a in g:
        print(a)

R
o
s
e
V
a
l
e
n
t
i
n
e
M
a
s
s
e
y
J
e
f
f
e
r
s
o
n
V
o
n

H
u
m
b
o
l
d
t
H
a
r
v
e
y
H
ä
g
e
r
s
t
r
a
n
d

In [155]:
#定义字典
cities = {
  'San Francisco': 837442,
  'London': 8673713,
  'Paris': 837442,
  'Beijing': '0.17'}#花括号是字典


print(cities.get('San Francisco'))#使用get()提取"San Francisco"的值
print(cities.get('London','111'))#提取"londo"的值 ,如没有, 则输出111

837442
8673713

In [163]:
cities = {
  'San Francisco': 837442,
  'London': 8673713,
  'Paris': 837442,
  'Beijing': '0.17'}
c = cities.get('San Francisco')

if not c:
  print("不存在该城市")
else:
  print("存在该城市")
  print(c)#输出值

存在该城市
837442

In [168]:
#字典的删除与新增
cities = {}  # Empty dictionary创建一个空字典
cities['Beijing'] = 21716620    # Sets key->value为字典插入新值的方法,中括号是表头,等于后面是值
cities['Toronto'] = 2930000     # Sets key->value为字典插入新值的方法,中括号是表头,等于后面是值
print(cities)#打印刚刚插入两个新值的字典
print(cities['Toronto'])        # Prints 2930000打印多伦多的值
del cities['Toronto']           # Deletes Toronto key (and value)删除多伦多的数据
print(cities.pop('Toronto','Default')) # Prints 'Default' b/c key not found删除多伦多的值,并将该值返回,用打印输出
print(cities)
#del不返回值,pop能返回删除的值
#使用del可以删除任意位置的列表元素，条件是知道其索引，并且使用del删除后就无法再访问被删除元素。
#在我不给pop()指定任何参数的时候，它默认是把最后一个元素弹出来，并赋值给一个新列表s1,实际上使用pop()可以删除任意位置的列表元素，只需要在pop后面的圆括号中输入要删除元素的索引。
#有时候不知道从列表中要删除的值所在的位置，如果只知道要删除元素的值，我们可以使用remove()。
#remove()只会删除第一个指定的值，如果列表中有多个元素的值相同，那么只会删除第一个，想要都删除，需要配合循环来使用。
#总结:我们到底什么时候使用del，什么时候使用pop()或remove()呢?如果在我们知道要删除元素的索引的情况下，从列表中删除一个元素，并且以后不再使用它，就使用del语句，如果你想要在删除某个元素后，继续使用它，那么就使用pop()，如果我们不知道元素地索引，只知道我们要删除的元素的值，那么我们使用remove()。

{'Beijing': 21716620, 'Toronto': 2930000}
2930000
2930000
{'Beijing': 21716620}

In [177]:
#对字典的输出操作
cities = {
  'San Francisco': 837442,
  'London': 8673713,
  'Paris': 837442,
  'Beijing': '0.17'}
for c in cities:
  print(c)#输出表头(城市名)
  print(c+":"+str(cities.get(c)))#表头加值,get函数起到某一name中的值
for k in cities.keys():##输出表头(城市名)和上面方法一样
  print(k)
for v in cities.values():#循环输出所有值
    print("v:"+str(v))

San Francisco
San Francisco:837442
London
London:8673713
Paris
Paris:837442
Beijing
Beijing:0.17
San Francisco
London
Paris
Beijing
v:837442
v:8673713
v:837442
v:0.17

In [178]:
cities = {
  'San Francisco': 
    [37.77, -122.43, 'SFO']
}
print(cities)

{'San Francisco': [37.77, -122.43, 'SFO']}

In [179]:
#定义一个字典, 打印字典
cities = {
  'San Francisco': {
    'lat': 37.77,
    'lon': -122.43,
    'airport':'SFO'}
}
print(cities['San Francisco']['lat'])# 格式:cities["表头"]["具体数据列"] , 就能取值

37.77

In [189]:
#数据类型集合set
'''集合（set）；
可以使用大括号 { } 或者 set() 函数创建集合。注意：创建一个空集合必须用 set() 而不是 { }，因为 { } 是用来创建一个空字典；'''
s = (1,2,3)#tuple元祖类型
print(type(s))
u = [1,2,3]#list列表类型
print(type(u))
x = {1,2,3}#set集合类型
print(type(x))
i = {'a':1,'b':2,'c':3}#dict字典类型
print(type(i))

<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [190]:
#列表中可以套列表
my_list = [
  [1, 2, 3], 
  [4, 5, 6], 
  [7, 8, 9]
]
for i in my_list:
  print(i)
print(type(my_list))#列表类型

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
<class 'list'>

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]

my_list = [a, b, c]

for i in my_list:
  print(i) # Prints a, b, c in turn...
for i in my_list:
  print(f" >> {i}")
  for j in i: # Remember that i is a list!
    print(j)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
 >> [1, 2, 3]
 >> [4, 5, 6]
 >> [7, 8, 9]

In [12]:
#定义列表后,定义变量i,j分别为0和1,使用[i][j]找到具体值
my_list = [
  [1, 2, 3], 
  [4, 5, 6], 
  [7, 8, 9]
]

i,j = 0,1
print(my_list[i][j])

2

In [86]:
my_cities = [
  ['London', [51.5072, 0.1275], +0], 
  ['New York', [40.7127, 74.0059], -5], 
  ['Tokyo', [35.6833, 139.6833], +8]
]
print(my_cities[0][0])
print(my_cities[0][1][0])

London
51.5072

In [87]:
data = [1,25,-4,14,7,9]
total = 0.0
count = len(data)
for i in data:
  total += i

print(total/count)

8.666666666666666

In [96]:
def c(n):#定义一个函数c(n)该函数为求平均数
  total = 0.0
  count = len(n)
  for i in n:
    total += i
  return total/count

data = [1,25,-4,14,7,9]
print(c(data))

8.666666666666666

In [104]:
#定义一个hello函数,功能是打印Hello world!
def hello():
  print("Hello world!")
hello()

Hello world!

In [194]:
def hello(name:str):
  print(f"Hello {name}!")
hello("葛天南")

Hello 葛天南!

In [14]:
output = hello("new progrzzzzammers")
print(output.title())#输出首字母转大写
# Same as: print(hello("new programmers").title())

Hello New Progrzzzzammers!

In [15]:
def hello(name:str):
  return f"Hello {name}!"
print(output.title())

Hello New Progrzzzzammers!

In [157]:
import math#载入math函数
print(math.pi)#输出math函数自带的pi输出功能
dir(math)#展现了math的方法
help(math.acos)#对某一功能弹出帮助

3.141592653589793
Help on built-in function acos in module math:

acos(x, /)
    Return the arc cosine (measured in radians) of x.

    The result is between 0 and pi.

In [161]:
import math as m
r = 5
area = m.pi * r**2
ln = m.log(area)#求自然对数
print(ln)

4.363605710717601

In [164]:
from math import pi as p#从包中直接引用功能并定义为p
print(p)

3.141592653589793

In [229]:
### 列表中插入新值
cities = ['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']
cities.insert(1,"oronto")#在下标1位置插入oronto
print(cities)
x = cities.count("New York")#某一元素出现的次数
print(x)#出现一次
cities.insert(2,"Haikou")#在指定位置插入值
print(cities)

['Tokyo', 'oronto', 'New York', 'London', 'Delhi', 'Beijing']
1
['Tokyo', 'oronto', 'Haikou', 'New York', 'London', 'Delhi', 'Beijing']

In [ ]:
#列表排序
cities.reverse()#列表倒叙
print(cities)
cities.sort()#重新排序
print(cities)
print("第一个出现海口的下标或索引是:"+str(cities.index("Haikou")))
cities[3:7]#输出该列表的切片

NameError: name 'cities' is not defined

In [18]:
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]
print("The position of Manchester in the list is: " + str(cities.index("Manchester")))
print(cities[-4 + 2])
print(cities[-2])
temperatures = [15.6, 16.5, 13.4, 14.0, 15.2, 14.8]
city="Manchester" # Use this to get the solution...
# This way is perfectly fine
print("The average temperature in " + city + " is " + str(temperatures[2]))
# This way is more Python 3 and a bit easier to read
print(f"The average temperature in {city} is {str(temperatures[2])}")
city="Belfast"
print(f"The average temperature in {city} is {str(temperatures[4])}"+" degrees") 
def avg_tmp(city, temperatures):
    print(f"The average temperature in {city} is {temperatures[cities.index(city)]}")#温度的取值由输入城市的下标决定
city="Edinburgh"
avg_tmp(city, temperatures)
for c in cities:
    avg_tmp(c, temperatures)

The position of Manchester in the list is: 2
Belfast
Belfast
The average temperature in Manchester is 13.4
The average temperature in Manchester is 13.4
The average temperature in Belfast is 15.2 degrees
The average temperature in Edinburgh is 14.0
The average temperature in Bristol is 15.6
The average temperature in London is 16.5
The average temperature in Manchester is 13.4
The average temperature in Edinburgh is 14.0
The average temperature in Belfast is 15.2
The average temperature in York is 14.8

In [235]:
cities = {
    'San Francisco': [37.77, -122.43, 'SFO'],
    'London': [51.51, -0.08, 'LDN'],
    'Paris': [48.86,2.29, 'PAR'],
    'Beijing': [39.92,116.40 ,'BEI'],
}
cities1 = {"Chennai":[37.77, -122.43, 'SFO']}
cities.update(cities1)#更新cities,将1插入
cities

{'San Francisco': [37.77, -122.43, 'SFO'],
 'London': [51.51, -0.08, 'LDN'],
 'Paris': [48.86, 2.29, 'PAR'],
 'Beijing': [39.92, 116.4, 'BEI'],
 'Chennai': [37.77, -122.43, 'SFO']}

In [246]:
cities = {
    'San Francisco': [37.77, -122.43, 'SFO'],
    'London': [51.51, -0.08, 'LDN'],
    'Paris': [48.86,2.29, 'PAR'],
    'Beijing': [39.92,116.40 ,'BEI'],
}

cities1 = {"Chennai":[37.77, -122.43, 'SFO']}
cities.update(cities1)
cities

print( cities['Chennai'][2] )
print(cities.values())#打印每个城市的值
print(cities.get('Chennai'))
for k ,v in cities.items():#定义两个值kv在字典中
    print(str(k)+" -> "+str(v[2]))

SFO
dict_values([[37.77, -122.43, 'SFO'], [51.51, -0.08, 'LDN'], [48.86, 2.29, 'PAR'], [39.92, 116.4, 'BEI'], [37.77, -122.43, 'SFO']])
[37.77, -122.43, 'SFO']
San Francisco -> SFO
London -> LDN
Paris -> PAR
Beijing -> BEI
Chennai -> SFO

In [82]:
cities = {
    'San Francisco': {
        'lat': 37.77, 
        'lon': -122.43,
        'airport': 'SFO'},
    'London': {
        'lat': 51.51, 
        'lon': -0.08, 
        'airport': 'LDN'},
    'Paris': {
        'lat': 48.86,
        'lon': 2.29, 
        'airport': 'PAR'},
    'Beijing': {
        'lat': 39.92,
        'lon': 116.40,
        'airport': 'BEI'},
    'Chennai': { 
        'lat': 13.08, 
        'lon': 80.28, 
        'airport': 'MAA'}
}

for k,v in cities.items():#items以列表返回可遍历的(键, 值) 元组数组，可以用于 for 来循环遍历；items() 方法把字典中每对 key 和 value 组成一个元组，并把这些元组放在列表中返回。
    print("城市是:" + k + " 经度是:" + str(v["lat"]) + "纬度是:" + str(v["lon"])+ " 机场是:" + v[ 'airport'])
    print(f"城市是 {k} -> {v['airport']}")#f要用双引号

城市是:San Francisco 经度是:37.77纬度是:-122.43 机场是:SFO
城市是 San Francisco -> SFO
城市是:London 经度是:51.51纬度是:-0.08 机场是:LDN
城市是 London -> LDN
城市是:Paris 经度是:48.86纬度是:2.29 机场是:PAR
城市是 Paris -> PAR
城市是:Beijing 经度是:39.92纬度是:116.4 机场是:BEI
城市是 Beijing -> BEI
城市是:Chennai 经度是:13.08纬度是:80.28 机场是:MAA
城市是 Chennai -> MAA

In [247]:
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]
temperatures = [15.6, 16.5, 13.4, 14.0, 15.2, 14.8]
def avg_tmp(city, temperatures):
    print(f"The average temperature in {city} is {temperatures}")
for c in cities:
    avg_tmp(c, temperatures[cities.index(c)])

The average temperature in Bristol is 15.6
The average temperature in London is 16.5
The average temperature in Manchester is 13.4
The average temperature in Edinburgh is 14.0
The average temperature in Belfast is 15.2
The average temperature in York is 14.8

In [249]:
a = "aaaa,aaaaaaa,aaqaa,fgg"+ '\n' +"aaaa,aaaaaaa,aaqaa,fgg"
print(a)
test = a.split(',')#以逗号切数据
print(test)
test = a.splitlines()#以行切数据
print(test)

aaaa,aaaaaaa,aaqaa,fgg
aaaa,aaaaaaa,aaqaa,fgg
['aaaa', 'aaaaaaa', 'aaqaa', 'fgg\naaaa', 'aaaaaaa', 'aaqaa', 'fgg']
['aaaa,aaaaaaa,aaqaa,fgg', 'aaaa,aaaaaaa,aaqaa,fgg']

In [250]:
cities = {
    'San Francisco': [37.77, -122.43, 'SFO'],
    'London': [51.51, -0.08, 'LDN'],
    'Paris': [48.86,2.29, 'PAR'],
    'Beijing': [39.92,116.40 ,'BEI'],
}
cities1 = {"Chennai":[37.77, -122.43, 'SFO']}
cities.update(cities1)
cities
print( cities['Chennai'][2] )
print(cities['Berlin'])
print(cities.get('Berlin'))

SFO

KeyError: 'Berlin'

In [251]:
for k, v in cities.items():
    print(str(k)+" -> "+str(v[2]))

San Francisco -> SFO
London -> LDN
Paris -> PAR
Beijing -> BEI
Chennai -> SFO

In [252]:
cities = {
    'San Francisco': {
        'lat': 37.77, 
        'lon': -122.43,
        'airport': 'SFO'},
    'London': {
        'lat': 51.51, 
        'lon': -0.08, 
        'airport': 'LDN'},
    'Paris': {
        'lat': 48.86,
        'lon': 2.29, 
        'airport': 'PAR'},
    'Beijing': {
        'lat': 39.92,
        'lon': 116.40,
        'airport': 'BEI'},
    'Chennai': { 
        'lat': 13.08, 
        'lon': 80.28, 
        'airport': 'MAA'}
}

for k,v in cities.items():
   # print("城市是:" + k + " 经度是:" + str(v["lat"]) + "纬度是:" + str(v["lon"])+ " 机场是:" + v[ 'airport'])
    print(f"城市是 {k} -> {v['airport']}")#f要用双引号

城市是 San Francisco -> SFO
城市是 London -> LDN
城市是 Paris -> PAR
城市是 Beijing -> BEI
城市是 Chennai -> MAA

In [253]:
cities = {
    'San Francisco': {
        'lat': 37.77, 
        'lon': -122.43,
        'airport': 'SFO'},
    'London': {
        'lat': 51.51, 
        'lon': -0.08, 
        'airport': 'LDN'},
    'Paris': {
        'lat': 48.86,
        'lon': 2.29, 
        'airport': 'PAR'},
    'Beijing': {
        'lat': 39.92,
        'lon': 116.40,
        'airport': 'BEI'},
    'Chennai': { 
        'lat': 13.08, 
        'lon': 80.28, 
        'airport': 'MAA'}
}

for k,v in cities.items():
   # print("城市是:" + k + " 经度是:" + str(v["lat"]) + "纬度是:" + str(v["lon"])+ " 机场是:" + v[ 'airport'])
    print(f"城市是 {k} -> {v['airport']}")#f要用双引号

城市是 San Francisco -> SFO
城市是 London -> LDN
城市是 Paris -> PAR
城市是 Beijing -> BEI
城市是 Chennai -> MAA

In [254]:
cities_alt = [
    {'name':     'San Francisco',
     'position': [37.77, -122.43],
     'airport':  'SFO'},
    {'name':     'London',
     'position': [51.51, -0.08],
     'airport':  'LDN'},
    {'name':     'Paris',
     'position': [48.86, 2.29],
     'airport':  'PAR'},
    {'name':     'Beijing',
     'position': [39.92, 116.40],
     'airport':  'BEI'},
    {'name':     'Chennai', 
     'position': [13.08, 80.28],
      'airport': 'MAA'}
]

for c in cities_alt:
    print("城市是:" + str(c["name"]) + "坐标是:" + str(c["position"]) + "机场是:" + str(c["airport"]))

城市是:San Francisco坐标是:[37.77, -122.43]机场是:SFO
城市是:London坐标是:[51.51, -0.08]机场是:LDN
城市是:Paris坐标是:[48.86, 2.29]机场是:PAR
城市是:Beijing坐标是:[39.92, 116.4]机场是:BEI
城市是:Chennai坐标是:[13.08, 80.28]机场是:MAA

In [9]:
from urllib.request import urlopen

# Given the info you were given above, what do you 
# think the value of 'url' should be? What
# type of variable is it? int or string? 
url = 'https://raw.githubusercontent.com/jreades/fsds/master/data/src/Wikipedia-Cities-simple.csv'#定义URL为某个连接
# Read the URL stream into variable called 'response'
# using the function that we imported above
response = urlopen(url)#使用urlopen函数打开ucl,并将反馈的值赋到response
data = response.().decode('utf-8')#使用read函数读取反馈, 并设置代码为utf-8
# You might want to explore what `__class__` and `__name__`
# are doing, but basically the give us a way of finding out what
# is 'behind' more complex variables
# Now read from the stream, decoding so that we get actual text
print(f"'raw' variable is of type: '{data.__class__.__name__}'.")
print(f"Raw content is:\n{data}\n")
data.type()

URLError: <urlopen error EOF occurred in violation of protocol (_ssl.c:997)>

In [261]:
print(f"There are {len(data)} characters in the data variable.")#计算data总共多少个字符
print(f"The first 125 characters are: '{data[:125]}'") # Notice that '\n' count here!#前125个字符

There are 352 characters in the data variable.
The first 125 characters are: 'City,Population,Latitude,Longitude
Perth,45770,56.39583,-3.43333
Armagh,14777,54.3499,-6.6546
Dundee,147268,56.462,-2.9707'

In [264]:
rows = data.splitlines()#splitlines是将每一行变成列表里的一个元素,并将该列表赋值给rows
print(rows)
print(f"'rows' variable is of type: {rows.__class__.__name__}'.")#rows的格式属性是list
print(rows[2])

['City,Population,Latitude,Longitude', 'Perth,45770,56.39583,-3.43333', 'Armagh,14777,54.3499,-6.6546', 'Dundee,147268,56.462,-2.9707', 'Colchester,194706,51.88861,0.90361', 'Salisbury,40302,51.07,-1.79', 'Portsmouth,205056,50.80583,-1.08722', 'Wakefield,325837,53.683,-1.499', 'Bradford,522452,53.792,-1.754', 'Lancaster,138375,54.047,-2.801', 'Bangor,18808,53.228,-4.128']
'rows' variable is of type: list'.
Armagh,14777,54.3499,-6.6546

In [8]:
#不明白
print(f"There are {len(rows)} rows of data.")
print("\n".join(rows[0:2])) 
q = "\n""".join(rows[0:2])
print(q)

NameError: name 'rows' is not defined

In [1]:
print('abcdefgh'.split('d'))
help('abcdefgh'.split)
test = rows[-1].split(',')
print(test)
print(f"The population of {test[0]} is {int(test[1]):,}")

['abc', 'efgh']
Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

NameError: name 'rows' is not defined

# 小马视频教程

In [128]:
print("hello".title())#首字母大写
print("hello".upper())#所有字母大写
print("hello".lower())#所有字母小写
str = 'hello\nworld'#\n用于换行
print(str)
str = 'hello\tworld'#\t腾出一个tab的位置
print(str)
str = r'C:\nobe\npm'#在文字前加r,不转义\n
print(str)
msg =" xxx "#定义smg的内容为文本型内容
print(msg.strip())#删除msg左右的空格
name = ["a","b","c"]
name.append("d")#在数组末尾加入d
print(name)
del name[0]#删除下标为0的元素
print(name)
pro = name.pop()#删除末尾最后一个元素, 并将元素弹出给pro
print(pro)
print(name)
name.remove("b")#删除指定内容"b"
print(name)

#排序sort()
name = ["c","a","b","d"]
name.sort()#按默认字母顺序排序
print(name)
name.reverse()#翻转排序
name.sort(reverse = True)#升序排序
name.sort(reverse = False)#降序排序
print(name)

#循环索引
for i,item in enumerate(name):#用于将一个可遍历的数据对象(如列表、元组或字符串)组合为一个索引序列，同时列出数据和数据下标，一般用在 for 循环当中
    print(i,item)

#奇数数组
nums = list(range(1,11,2))#1起始,11内结束,步长2
print(nums)

#元祖
nums = (1,2,3,4,5)
print(nums[3])

#字典
nums = {
    "ip":"192.168.0.1",
    "port":5432,
    "uid":"postgres",
    "pwd":"1234456"
}

print(nums)
print(nums["ip"])
print(nums["port"])

for key,val in nums.items():
    print(key,"=",val)
    
for key in nums.keys():#写法不同,结果相同
    print(key,"is",nums[key])

#while循环
i = 1
while i <= 8:
    print(i)
    i = i + 1
    
#while循环,result为0,i为1,i只要小于8就一直循环,循环体是result从0叠加1,i从1叠加1,如果i大于5时打断循环,输出result的结果    
result = 0
i = 1
while i <= 8:
    result = result + 1
    i = i + 1
    if i > 5:
        break
print("result=",result)
#创建nums数组,使用while循环pop,最后数组为空
nums = [1,2,3,4,5]
while nums:
    a = nums.pop()
    print(a)
    
#定义函数
def helo(name,age):#定义一个叫helo的函数,参数为name,没有默认值,执行方法是打印"helo",name
    print("helo",name,"age is",age)
def helo2(name="tiannan"):#定义一个叫helo2的函数,参数为name,有默认值,执行方法是打印"helo",name
    print("helo",name)
helo("xx","30")
helo2()

#返回函数-定义字典函数
def makedic(ip,dbname,uid,pwd):#定义一个函数叫makedic,里面还有四个参数ip,dbname,uid,pwd,方法是根据参数补全一个字典的值
    return{
        "sever":ip,
        "database":dbname,
        "uid":uid,
        "pwd":pwd
    }

my = makedic("192.168.0.1","my","tn","qqw")
print(my)
print(my["uid"])

#传递字典参数定义函数(定义一个函数,可以输入不限个数个参数)
def sendmail(**data):
    for key,val in data.items():
        data = {key : val}
        return data


ee = sendmail(
    subject="py",
    tr=5,
    ccc="aaa",
    rtt="qw"
)
print("\n"+"---------------------")
print(ee)
ee

Hello
HELLO
hello
hello
world
hello	world
C:\nobe\npm
xxx
['a', 'b', 'c', 'd']
['b', 'c', 'd']
d
['b', 'c']
['c']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
0 a
1 b
2 c
3 d
[1, 3, 5, 7, 9]
4
{'ip': '192.168.0.1', 'port': 5432, 'uid': 'postgres', 'pwd': '1234456'}
192.168.0.1
5432
ip = 192.168.0.1
port = 5432
uid = postgres
pwd = 1234456
ip is 192.168.0.1
port is 5432
uid is postgres
pwd is 1234456
1
2
3
4
5
6
7
8
result= 5
5
4
3
2
1
helo xx
helo tiannan
{'sever': '192.168.0.1', 'database': 'my', 'uid': 'tn', 'pwd': 'qqw'}
tn

---------------------
{'rtt': 'qw'}

{'rtt': 'qw'}

In [59]:
def helo(name,age):#定义一个叫helo的函数,参数为name,没有默认值,执行方法是打印"helo",name
    print("helo",name,"age is",age)
helo("xx","30")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (663826771.py, line 2)

In [143]:
def sendmail(**data):#创建自定义字典函数,接收无限个参数
        return data
    

ee = sendmail(
    subject="py",
    tr=5,
    ccc="aaa",
    rtt="qw"
)


ee

{'subject': 'py', 'tr': 5, 'ccc': 'aaa', 'rtt': 'qw'}

In [4]:
#创建一个类,类下定义三个函数
class player():#创建一个类名叫player
    def __init__(self,name):#类初始化__init__,括号内第一个永远是self,第二个name为传入值
        self.name = name
        
    def sayhalo(self):#定义一个sayhalo函数,方法是打印helo+输入值(首字母大写)
        print("helo",self.name.title())
        
    def intro(self):
        print("i am player")
        
curry = player("curry")#值curry给到类player,将各函数的结果返回至变量curry
print(curry.name)#打印变量curry的name
curry.sayhalo()#运行变量curry中的sayhalo函数
curry.intro()

curry
helo Curry
i am player

In [8]:
#类继承
class player():#初创的类,接下来作为附属类使用
    def __init__(self,name):
        self.name = name
        
    def sayhelo(self):
        print("helo",self.name.title())
        
    def intro(self):
        print("i am player")
        
class nbaplayer(player):#新类nbaplayer,参数传入为初创类player
    def __init__(self,name):#同样有自己的init
        super().__init__(name)#创建了一个新的super().init
        self.category = "nba"#增加了一个目录为nba
        
    def intro(self):
        print("i am a" + self.category + "player")
        
cl = nbaplayer("cl")
cl.sayhelo()#调用了初始类的sayhalo
cl.intro()#因为新类重写intro,所以这里调用新类

helo Cl
i am anbaplayer

In [63]:
#python文件读写
filename = "test.txt"#定义文件名
with open(filename, "w",encoding = "UTF-8") as file:#写模式,变为file变量
    file.write("`hello")#写入hello
    
with open(filename, "r",encoding"UTF-8") as file:#读模式
    content = file.read()#内容 = 文件.读函数
    print(content)#打印内容

SyntaxError: expected ':' (2921973690.py, line 6)

In [64]:
#字典文件的写到文件,与读
mydata = {
    "title":"xxxx",
    "lessons":{
        "python":"made",
        "vae":"123",
        "nno":"e"
    },
    "games":{
        "宝可梦":"奋斗者",
        "信仰":"通过",
        "gta":"打不下去"
    },
}

print(mydata)

{'title': 'xxxx', 'lessons': {'python': 'made', 'vae': '123', 'nno': 'e'}, 'games': {'宝可梦': '奋斗者', '信仰': '通过', 'gta': '打不下去'}}

# week4 foundation

In [ ]:
my_list.append( <value> ) #在列表末尾追加元素的方法

SyntaxError: invalid syntax (925702206.py, line 1)

In [ ]:
msg = 'Hello World'
dir(msg)#返回模块的属性列表

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

1. Term  ---→Means---→Example
2. Class---→The template for a ‘thing’. ---→Recipe for a pizza.
3. Object---→The instantiated ‘thing’.---→A pizza I can eat!
4. Method---→Functions defined for the class and available to the object.---→Things I can do with a pizza (eat, cook, make).
5. Constructor---→The special method that builds new objects of that class.---→How to start a new pizza!
6. Self ---→A reference to the current object.  ---→The pizza in front of me!

In [65]:
class pizza(object): #Python 中定义一个类使用 class 关键字实现
  base = 'sourdough'
  
  def __init__(self, sauce:str='tomato', cheese:str='mozzarella'):
    self.toppings = []
    self.sauce = sauce
    self.cheese = cheese
    
  def add_topping(self, topping:str) -> None:
    self.toppings.insert(len(self.toppings), topping)
  
  def get_pizza(self) -> list:
    ingredients = [self.base, self.sauce, self.cheese]
    ingredients.extend(self.toppings)
    return ingredients

In [15]:
def __init__(self, sauce:str='tomato', cheese:str='mozzarella'):
    self.toppings = []
    self.sauce    = sauce
    self.cheese   = cheese
def add_topping(self, topping:str) -> None:
    self.toppings.insert(len(self.toppings), topping)
def get_pizza(self) -> list:
    ingredients = [self.base, self.sauce, self.cheese]
    ingredients.extend(self.toppings)
    return ingredients
p = pizza(sauce='white')
p.add_topping('peppers')
p.add_topping('chillis')
p.get_pizza()

['sourdough', 'white', 'mozzarella', 'peppers', 'chillis']

In [16]:
p1 = pizza(sauce='white')
p1.add_topping('peppers')
p1.add_topping('chilis')

p2 = pizza()
p2.base = "Plain old base"
p2.add_topping('pineapple')
p2.add_topping('ham')

p1.get_pizza()

['sourdough', 'white', 'mozzarella', 'peppers', 'chilis']

## practical 4

In [6]:
myData = [
    ['id', 'Name', 'Rank', 'Longitude', 'Latitude', 'Population'], 
    ['1', 'Greater London', '1', '-18162.92767', '6711153.709', '9787426'], 
    ['2', 'Greater Manchester', '2', '-251761.802', '7073067.458', '2553379'], 
    ['3', 'West Midlands', '3', '-210635.2396', '6878950.083', '2440986']
]

col    = myData[0].index('Name')#myData[0]指的是第一列,返回'Greater London'的下标是1
cities = []#创建空列表
for i in range(1,len(myData)):#使用i做循环,循环次数为mydata的长度,步进为1
    cities.append(myData[i][col])#cities每循环一次往里面添加(mydata[i循环次数,对应到列数][col为下标数字1,不变])
    
print("The cities in the data set are: " + ", ".join(cities))

The cities in the data set are: Greater London, Greater Manchester, West Midlands

In [7]:
found = False

for i in range(1, len(myData)):
    if myData[i][col] == "Edinburgh":
        print("Found Edinburgh in the data set!")
        found = True
        break
    else:
        print("Didn't find Edinburgh in the data set.")
        break

Didn't find Edinburgh in the data set.

In [9]:
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['Greater London', 'Greater Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}

# What cities are in the data set?
print('--'.join(myData['Name']))#方法一
a = myData.get('Name')#方法二
print(a)

a = []#方法三
for i in myData['Name']:
    a.append(i)

print(a)

if 'Edinburgh' in "Name":
    print("Found Edinburgh in the data set!")
else:
    print("Didn't find Edinburgh in the data set.")

Greater London--Greater Manchester--Birmingham--Edinburgh--Inverness--Lerwick
['Greater London', 'Greater Manchester', 'Birmingham', 'Edinburgh', 'Inverness', 'Lerwick']
['Greater London', 'Greater Manchester', 'Birmingham', 'Edinburgh', 'Inverness', 'Lerwick']
Didn't find Edinburgh in the data set.

In [10]:
import numpy as np
# Use numpy functions to calculate mean and standard deviation
mean = np.mean(myData['Population'])
std  = np.std(myData['Population'])
print(f"City distribution has a mean {mean:,.0f} and standard deviation of {std:,.2f}.")#第一种出法,三进一
print("City distribution has a mean {0} and standard deviation of {1}.".format(mean, std))#第二种出法

City distribution has a mean 2,435,442 and standard deviation of 3,406,947.93.
City distribution has a mean 2435442.5 and standard deviation of 3406947.9251788664.

In [11]:
#列表解析
demo = range(0,10) # 给demo定义一个0-10范围的区间
print([x**2 for x in demo]) # x的幂次方, x递增,在10次内

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
#我们计算了上面的平均值和标准差，所以现在我们要将 z 分数公式应用于人口列表的每个元素
rs = [(x - mean)/std for x in myData['Population']] # rs == result set
print([f"{x:.3f}" for x in rs])

['2.158', '0.079', '-0.380', '-0.450', '-0.694', '-0.713']

In [13]:
myData['Std. Population'] = std
print(myData['Std. Population'])

for c in myData['Name']:
    idx = myData['Name'].index(c)
    g = myData['Population'][idx]
    gg = myData['Std. Population']
    #print(f"{c} has a population of {myData['Population'][idx]:,} and standardised score of {myData['Std. Population'][idx]:.3f}")
    print("{0} has a population of {1} and standardised score of {2}".format(c,g,gg))

3406947.9251788664
Greater London has a population of 9787426 and standardised score of 3406947.9251788664
Greater Manchester has a population of 2705000 and standardised score of 3406947.9251788664
Birmingham has a population of 1141816 and standardised score of 3406947.9251788664
Edinburgh has a population of 901455 and standardised score of 3406947.9251788664
Inverness has a population of 70000 and standardised score of 3406947.9251788664
Lerwick has a population of 6958 and standardised score of 3406947.9251788664

In [14]:
from urllib.request import urlopen
import csv

url = "https://raw.githubusercontent.com/jreades/fsds/master/data/src/Wikipedia-Cities-simple.csv"

urlData = [] # Somewhere to store the data

response = urlopen(url) # Get the data using the urlopen function
csvfile  = csv.reader(response.read().decode('utf-8').splitlines()) # Pass it over to the reader

for row in csvfile:
    urlData.append(row)

print("urlData has " + str(len(urlData)) + " rows and " + str(len(urlData[0])) + " columns.")
print(urlData[-1]) # Check it worked!

urlData has 11 rows and 4 columns.
['Bangor', '18808', '53.228', '-4.128']

In [15]:
import os
url = "https://raw.githubusercontent.com/jreades/fsds/master/data/src/Wikipedia-Cities-simple.csv"
out = os.path.join('data','Wikipedia-Cities.csv') 
print(out)# Print `out` if you aren't sure what this has done!

data/Wikipedia-Cities.csv

In [16]:
os.path.isfile()#判断某一对象(需提供绝对路径)是否为文件
os.path.isdir()#判断某一对象(需提供绝对路径)是否为目录

TypeError: isfile() missing 1 required positional argument: 'path'

In [17]:
from urllib.request import urlopen

def get_url(src, dest):
#检查目的地是否存在 -- 如果存在 # 那么我们就可以跳过下载文件， # 否则我们就必须下载它!
    if os.path.isfile(out):
        print(f"{dest} found!")
    else:
        print(f"{dest} *not* found!")
#单纯的判断 , 实际并不下载

get_url(url, out)

data/Wikipedia-Cities.csv *not* found!

In [18]:
def get_url(src, dest):#dest为输入的文件名变量,src为网址

    if os.path.isfile(dest):#判断某一对象(需提供绝对路径)是否为文件
        print(f"{dest} found locally!")
    else:
        print(f"{dest} not found, downloading!")
        response = urlopen(src)#src作为第一个参数,被指向了url ,使用urlopen函数实例化了一个response对象
        filedata = response.read().decode('utf-8')#想得到这个实例化的对象的具体内容可以使用read()方法,具体内容赋值为filedata
        path = list(os.path.split(dest)[:1])#将文件名和路径分割开,[:1]或者[:-1]均能取到路径"csvfile"
        print(path)#返回路径值
        a = len(path)#返回路径值
        b = path[0]#b等于1级路径名称,也就是下标为0,没有第二级
        print(a)#打印路径值为1
        print(b)#打印第一级路径名称
        if len(path) >= 1 and path[0] != '':#如果子路径大于等于1并且路径不等于空
            os.makedirs(os.path.join(*path), exist_ok=True)#os.makedirs()---创建文件夹,os.path.join拼接路径,exist_ok目录不存在时创建目录，存在时不会抛出异常。
        with open(dest, 'w') as f:#with open是python用来打开本地文件的，他会在使用完毕后，自动关闭文件，无需手动书写close(),写入文件也用with open,使用"w"
            f.write(filedata)#写入filedata
        print(f"Data written to {dest}!")
    return dest#
        
src = get_url(url, out)

data/Wikipedia-Cities.csv not found, downloading!
['data']
1
data
Data written to data/Wikipedia-Cities.csv!

In [20]:
import os#加载系统级os函数,io功能
url = "https://raw.githubusercontent.com/jreades/fsds/master/data/src/Wikipedia-Cities-simple.csv" 
response = urlopen(url)#urlopen函数打开网址 ,返回至response
csvfile  = csv.reader(response.read().decode('utf-8').splitlines())#csv.reader函数(括号里的内容为读response使用.read函数,解码使用utf-8,splitlines是按列分行)
out = os.path.join("csvfile",'Wikipedia-Cities.csv') #输出out为使用系统级os.path.join写入到csvfile目录中,文件名为...

import csv

def read_csv(c):
    
    csvdata = []
    with open(c, 'r') as f:#打开文件,文件读模式
        csvr = csv.reader(f)#csvr等于使用scv的reader函数读取f数据
        
        for r in csvr:#每一行在vsvr中
            csvdata.append(r)#从csvdata依次加入每一行
    
    # Return list of lists
    return csvdata#输出最终文件,csv转为列表

read_csv(src)
#read_csv('foo.bar') # <- Notice what happens if you try to run this code
#read_csv('Practical-04-Objects-Answers.ipynb') # Or this code!

[['City', 'Population', 'Latitude', 'Longitude'],
 ['Perth', '45770', '56.39583', '-3.43333'],
 ['Armagh', '14777', '54.3499', '-6.6546'],
 ['Dundee', '147268', '56.462', '-2.9707'],
 ['Colchester', '194706', '51.88861', '0.90361'],
 ['Salisbury', '40302', '51.07', '-1.79'],
 ['Portsmouth', '205056', '50.80583', '-1.08722'],
 ['Wakefield', '325837', '53.683', '-1.499'],
 ['Bradford', '522452', '53.792', '-1.754'],
 ['Lancaster', '138375', '54.047', '-2.801'],
 ['Bangor', '18808', '53.228', '-4.128']]

In [32]:
def read_csv(src):#定义一个新函数
    
    csvdata = {} # 定义一个空字典
    
    with open(src, 'r') as f:#打开文件,使用读模式,打开src
        csvr = csv.reader(f)#csv内容赋值到csvr中
        csvcols = next(csvr)#next函数第一次可取列名          
        for c in csvcols:#在列表里做循环
            csvdata[c] = []#首先给csvdata定义好key值,一次赋key值到字典中,但value为空
            #print(csvdata)#csvdata是字典,字典加入内容是用["里面为文本"]定义为表头,本次只加入表头,通过等于号赋值了值,本次是赋值了空值[]
        for r in csvr: 
            print(r)#打印每一行
            for u, c in enumerate(csvcols):#使用enumerate函数枚举列名csvcols,枚举代数为u和c
                csvdata[c].append(r[u])#csvdata字典的key为c,循环加入每一行r的[第u个]
    return csvdata

read_csv(src)

['Perth', '45770', '56.39583', '-3.43333']
['Armagh', '14777', '54.3499', '-6.6546']
['Dundee', '147268', '56.462', '-2.9707']
['Colchester', '194706', '51.88861', '0.90361']
['Salisbury', '40302', '51.07', '-1.79']
['Portsmouth', '205056', '50.80583', '-1.08722']
['Wakefield', '325837', '53.683', '-1.499']
['Bradford', '522452', '53.792', '-1.754']
['Lancaster', '138375', '54.047', '-2.801']
['Bangor', '18808', '53.228', '-4.128']

{'City': ['Perth',
  'Armagh',
  'Dundee',
  'Colchester',
  'Salisbury',
  'Portsmouth',
  'Wakefield',
  'Bradford',
  'Lancaster',
  'Bangor'],
 'Population': ['45770',
  '14777',
  '147268',
  '194706',
  '40302',
  '205056',
  '325837',
  '522452',
  '138375',
  '18808'],
 'Latitude': ['56.39583',
  '54.3499',
  '56.462',
  '51.88861',
  '51.07',
  '50.80583',
  '53.683',
  '53.792',
  '54.047',
  '53.228'],
 'Longitude': ['-3.43333',
  '-6.6546',
  '-2.9707',
  '0.90361',
  '-1.79',
  '-1.08722',
  '-1.499',
  '-1.754',
  '-2.801',
  '-4.128']}

In [35]:
def read_csv(src:str) -> dict:
    """
    将CSV文件转换为列表字典（dol），使用第一行来创建列名。
    """
    csvdata = {} # 创建一个空字典
    
    with open(src, 'r') as f:#打开文件,读模式,赋值为f
        csvr = csv.reader(f)#csvr等于使用reader读f的内容
        
        # Read in our column names and
        # initialise the dictionary-of-lists
        csvcols = next(csvr) #csvcols等于列表表头
        for c in csvcols:#表头做循环
            csvdata[c] = []#字典的表头被赋值
        
        # Notice this code is still the same, 
        # we just used next(csvr) to get the 
        # header row first!
        for r in csvr:#在csv文件中做行的循环
            for idx, c in enumerate(csvcols):#使用enumerate函数枚举列名csvcols,枚举代数为idx和c
                csvdata[c].append(r[idx])#字典的表头依次添加r行的第idx个
    
    # Return dictionary of lists
    return csvdata

ds = read_csv(src)
ds

{'City': ['Perth',
  'Armagh',
  'Dundee',
  'Colchester',
  'Salisbury',
  'Portsmouth',
  'Wakefield',
  'Bradford',
  'Lancaster',
  'Bangor'],
 'Population': ['45770',
  '14777',
  '147268',
  '194706',
  '40302',
  '205056',
  '325837',
  '522452',
  '138375',
  '18808'],
 'Latitude': ['56.39583',
  '54.3499',
  '56.462',
  '51.88861',
  '51.07',
  '50.80583',
  '53.683',
  '53.792',
  '54.047',
  '53.228'],
 'Longitude': ['-3.43333',
  '-6.6546',
  '-2.9707',
  '0.90361',
  '-1.79',
  '-1.08722',
  '-1.499',
  '-1.754',
  '-2.801',
  '-4.128']}

In [36]:
print("Columns are: " + ", ".join(ds.keys()))
print(f"First two cities are: {ds['City'][:2]}")
print(f"First two populations are: {ds['Population'][:2]}")
print(f"First two latitudes are: {ds['Latitude'][:2]}")

Columns are: City, Population, Latitude, Longitude
First two cities are: ['Perth', 'Armagh']
First two populations are: ['45770', '14777']
First two latitudes are: ['56.39583', '54.3499']

In [37]:
cols  = ['City', 'Population', 'Latitude', 'Longitude'] # <- Column name
dtype = [str, int, float, float]                        # <- Column data type

# 'Zips up' these two lists into an iterator! So this will 
# take element 0 from *each* list and pass them to `col` as
# a list-like 'tuple' (meaning there is a col[0] and a col[1]).
for col in zip(cols, dtype):#将cols和dtype通过zip合并,同一下标的cols和dtype组成一个元祖,用col做循环,col代表其中一个元祖
    colname = col[0]#colname为cols列的某一下标,下同理
    coltype = col[1]
    
    # Notice the more advanced formatting here:
    # - `>12` means right-align with up to 12 characters of whitespace; notice the last line!
    # - `coltype.__name__` gives us the name of the data type, rather than a '<class...>' output.
    print(f"Column {colname:>12} should be type: {coltype.__name__}")#>12为右对齐的意思,最多12个字符的空白

Column         City should be type: str
Column   Population should be type: int
Column     Latitude should be type: float
Column    Longitude should be type: float

In [38]:
# 将原始数据转换为适当的#类型的数据：'列数据'（cdata）->'列类型'（type）。

def to_type(cdata, ctype):
    # If a string
    if isinstance(cdata, str):#isinstance() 函数来判断一个对象是否是一个已知的类型，类似 type()。
        try:#尝试,通常用于找错
            if ctype==bool:
                return cdata==True
            else:
                return ctype(cdata)
        except TypeError:
            return cdata
    
    # Not a string (assume list)
    else: 
        fdata = []
        for c in cdata:
            try:
                if ctype==bool:
                    fdata.append( c=='True' )
                else:
                    fdata.append( ctype(c) )
            except:
                fdata.append( c )
        return fdata

In [39]:
# Now apply this! We'll copy the data to 
# new data structure only so that we know
# we're not overwriting `ds` until we're sure
# that the code works.
ds2 = {}#创建一个空字典
cols  = ['City', 'Population', 'Latitude', 'Longitude'] # <- Column name
dtype = [str, int, float, float]                        # <- Column data type
for col in zip(cols, dtype):#cols和dtype通过使用zip合并,生成一个个元祖:("city",str)
    colname = col[0]
    coltype = col[1]
    ds2[colname] = to_type( ds[colname], coltype )#ds2字典开始在循环体中内容了,key是colname,值是使用刚创建的to_type函数转换至类型,转换内容是(ds的key,循环体中定义的coltype)
print(ds2)

{'City': ['Perth', 'Armagh', 'Dundee', 'Colchester', 'Salisbury', 'Portsmouth', 'Wakefield', 'Bradford', 'Lancaster', 'Bangor'], 'Population': [45770, 14777, 147268, 194706, 40302, 205056, 325837, 522452, 138375, 18808], 'Latitude': [56.39583, 54.3499, 56.462, 51.88861, 51.07, 50.80583, 53.683, 53.792, 54.047, 53.228], 'Longitude': [-3.43333, -6.6546, -2.9707, 0.90361, -1.79, -1.08722, -1.499, -1.754, -2.801, -4.128]}

In [40]:
print("Columns are: " + ", ".join(ds2.keys()))#使用.join函数列出ds2字典中所有的key
print(f"First two cities are: {ds2['City'][:2]}")#ds2字典中key为city的前两个值
print(f"First two populations are: {ds2['Population'][:2]}")
print(f"First two latitudes are: {ds2['Latitude'][:2]}")

Columns are: City, Population, Latitude, Longitude
First two cities are: ['Perth', 'Armagh']
First two populations are: [45770, 14777]
First two latitudes are: [56.39583, 54.3499]

In [41]:
min_long = 180#最小长度为180
min_idx  = -1#最小下标为-1

for l in ds2['Longitude']:#在ds2字典中的key(longitude)中循环,循环体为l,数值型
    if l < min_long: min_long = l#如果l小于最小长度=1
print(f"Minimum longitude is {min_long}")#打印最小长度

for idx, l2 in enumerate(ds2['Longitude']):#在ds2字典中的key(longitude)中循环,循环体为idx和l2
    if l2==min_long:#如果l2和最小长度相等
        min_idx = idx#最小的idx下标就等于dix本身
        break#打断

print(f"Westernmost city is {ds2['City'][min_idx]}")#输出ds2字典中citykey值的第min_IDx下标内容

Minimum longitude is -6.6546
Westernmost city is Armagh

In [42]:
url = "https://raw.githubusercontent.com/jreades/fsds/master/data/src/Wikipedia-Cities.csv"#定义网址为url
out = os.path.join('data','Wikipedia-Cities-full.csv')#输出使用os.path,join函数,路径为data,文件名为...

cols  = ['City', 'Population', 'Latitude', 'Longitude']
dtype = [str, int, float, float]

untyped_dol = read_csv(get_url(url, out))#术语表等于,使用read_csv函数(函数里面继续使用之前自定义的get_url函数)

typed_dol = {}#创建空字典
for col in zip(cols, dtype):#在cols和dtype中循环
    colname = col[0]
    coltype = col[1]
    typed_dol[ colname ] = to_type(untyped_dol[colname], coltype)#typed_dol字典中添加值,key为colname,值为使用to_type取类型值

data/Wikipedia-Cities-full.csv not found, downloading!
['data']
1
data
Data written to data/Wikipedia-Cities-full.csv!

In [43]:
print(f"Average population is {np.mean(typed_dol['Population']):,.2f}")
print(f"Westernmost city is {typed_dol['City'][np.where(typed_dol['Longitude']==np.min(typed_dol['Longitude']))[0][0]]}")
print(f"Northernmost city is {typed_dol['City'][np.where(typed_dol['Latitude']==np.max(typed_dol['Latitude']))[0][0]]}")
print(f"Southernmost city is {typed_dol['City'][np.where(typed_dol['Latitude']==np.min(typed_dol['Latitude']))[0][0]]}")

Average population is 202,283.36
Westernmost city is Derry
Northernmost city is Inverness, Inerness, Inbhir Nis
Southernmost city is Truro

In [ ]:
import numpy as np
#这段不知道要干嘛
def find_val(col:list, val:str):#定义一个函数叫find_val,参数分别为col:list,val:str
    """
    ??
    """
    if val in dir(np) and callable(getattr(np, val)):#判断如果val在(获得当前模块np的属性列表)和(callable函数用于检查一个对象是否是可调用的)
        #getattr() 函数用于返回一个对象属性值。此次返回np和val
        func = getattr(np, val) # <--- What does this do???返回了np和val的属性值给func
        if val in ['min','max']:#如果val在最小值和最大值里
            return np.where(col==func(col))[0][0]#返回(使用np的where函数查找在哪里)col完全等于func的col时的位置
        else:
            return func(col)
    else:
        return np.nan
    
print(find_val(typed_dol['Latitude'], 'min'))
print(find_val(typed_dol['Latitude'], 'median'))

In [ ]:
!mkdir -p 'dtools'#创建一个目录

In [ ]:
!touch dtools/__init__.py#在该目录下创建一个新文件

!jupyter nbconvert --ClearOutputPreprocessor.enabled=True \#使用转换功能,将本文档转换为notebook.py
    --to python --output=dtools/notebook.py \
    Practical-04-Objects.ipynb

In [ ]:
%load_ext autoreload
%autoreload 2#自动重载
import dtools

In [49]:
import pandas as pd#加载pandas

url = 'https://github.com/jreades/fsds/raw/master/data/2019-sample-crime.csv'
out = os.path.join('data','crime-sample.csv')

ds = pd.read_csv(get_url(url, out))#ds字典被定义为这个在线的csv的内容
print(f"ds has {len(ds.keys())} columns, these are: " + ", ".join(ds.keys()))#计算k字典ds的ey的长度,join加入ds字典的key都有哪些
print(f"There are {len(ds['ID'])} rows of data")#计算有多少行
ds

data/crime-sample.csv found locally!
ds has 11 columns, these are: ID, Case Number, Date, Primary Type, Description, Location Description, Arrest, Domestic, Year, Latitude, Longitude
There are 100 rows of data

ModuleNotFoundError: No module named 'dtools'

In [48]:
import dtools
cols  = ['Latitude', 'Longitude'] 
dtype = [float, float]

typed_ds = {}
for col in zip(cols, dtype): # <- This only copies these two columns to typed_ds
    colname = col[0]
    coltype = col[1]
    typed_ds[ colname ] = dtools.to_type(ds[colname], coltype)

ModuleNotFoundError: No module named 'dtools'

In [47]:
idx = find_val(typed_ds['Latitude'], 'min')

NameError: name 'find_val' is not defined