In [1]:
list = [['City', 'Population', 'Latitude', 'Longitude'],
 ['Perth', '45770', '56.39583', '-3.43333'],
 ['Armagh', '14777', '54.3499', '-6.6546'],
 ['Dundee', '147268', '56.462', '-2.9707'],
 ['Colchester', '194706', '51.88861', '0.90361'],
 ['Salisbury', '40302', '51.07', '-1.79'],
 ['Portsmouth', '205056', '50.80583', '-1.08722'],
 ['Wakefield', '325837', '53.683', '-1.499'],
 ['Bradford', '522452', '53.792', '-1.754'],
 ['Lancaster', '138375', '54.047', '-2.801'],
 ['Bangor', '18808', '53.228', '-4.128']]

In [103]:
def csvtodic(file):
    data = {} 
    cols = file[0] 
    for c in cols:
        data[c] = []
        print(data)
    for r in file:
        for a, b in enumerate(cols):
            data[c].append(r[a])
    return data
print()
csvtodic(list)

{'City': []}
{'City': [], 'Population': []}
{'City': [], 'Population': [], 'Latitude': []}
{'City': [], 'Population': [], 'Latitude': [], 'Longitude': []}

{'City': [],
 'Population': [],
 'Latitude': [],
 'Longitude': ['Latitude',
  'Longitude',
  'City',
  'Population',
  '56.39583',
  '-3.43333',
  'Perth',
  '45770',
  '54.3499',
  '-6.6546',
  'Armagh',
  '14777',
  '56.462',
  '-2.9707',
  'Dundee',
  '147268',
  '51.88861',
  '0.90361',
  'Colchester',
  '194706',
  '51.07',
  '-1.79',
  'Salisbury',
  '40302',
  '50.80583',
  '-1.08722',
  'Portsmouth',
  '205056',
  '53.683',
  '-1.499',
  'Wakefield',
  '325837',
  '53.792',
  '-1.754',
  'Bradford',
  '522452',
  '54.047',
  '-2.801',
  'Lancaster',
  '138375',
  '53.228',
  '-4.128',
  'Bangor',
  '18808']}